<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG" monitorInterval="30" >
	
    <Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%p %d [%t] [%c] %-15.15M %m%n" />
		</Console>
		
		<RollingRandomAccessFile name="manageTeam"
			fileName="/home/tkdrl8908/Project/logs/manageTeam/manageTeam.log"
			filePattern="/home/tkdrl8908/Project/logs/manageTeam/$${date:yyyyMMdd}/manageTeam.%d{yyyyMMdd}-%i.log.zip"
			immediateFlush="false" append="true">
			<PatternLayout pattern="%p %d [%t] [%c] %M %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="manageTeam-error"
			fileName= "/home/tkdrl8908/Project/logs/manageTeam/manageTeam_error.log"
			filePattern="/home/tkdrl8908/Project/logs/manageTeam/$${date:yyyyMMdd}/manageTeam_error.%d{yyyyMMdd}-%i.log.zip"
			immediateFlush="false" append="false">
			<PatternLayout pattern="%p %d [%t] [%c] %-15.15M %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		
		<Async name="Async-log">
			<AppenderRef ref="manageTeam" />
		</Async>
		<Async name="Async-error">
			<AppenderRef ref="manageTeam-error" />
		</Async>
		
	</Appenders>
	
	<Loggers>
		<Root level="DEBUG" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="Async-log" />
			<AppenderRef ref="Async-error" level="WARN"/>
		</Root>
		<Logger name="org.zaxxer.hikari" level="ERROR" additivity="false">
			<AppenderRef ref="manageTeam-error" />
		</Logger>
	</Loggers>
	
</Configuration>